{% extends "base.html" %}

{% block title %}Member Profile - {{ member.username }}{% endblock %}

{% block content %}
    <p>Username - {{ member.username }}</p>
    <p>Email - {{ member.email }}</p>
    <p>Location - {{ member.location }}</p>
    <form action="{% url 'members:upload_avatar' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ avatar_upload_form }}</p>
        <p><input type="submit" value="Upload Avatar"/></p>
    </form>
    <form action="{% url 'members:upload_image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ image_upload_form }}</p>
        <p><input type="submit" value="Upload Image"/></p>
    </form>

    {% if member.member_galleries %}
        <ul>
        {% for gallery in member.member_galleries.all %}
            <li><a href="{% url 'galleries:member_main_gallery' member.pk %}">{{ gallery.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}